In [1]:
# importig all the required packages for web scraping using Selenium

import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import requests
import pandas as pd
import time
import warnings
warnings.filterwarnings('ignore')

# Scraping the site Naukri:
    https://www.naukri.com/

In [2]:
# Initialize the driver

driver = webdriver.Chrome()

In [3]:
# Initialize the driver with Naukri

driver.get('https://www.naukri.com/')

In [4]:
# Entering the designation

designation = driver.find_element(By.XPATH, '//div[@class="suggestor-box flex-row flex-wrap bottom "]/input')
designation.send_keys('Data Scientist')

In [5]:
# Entering search

search = driver.find_element(By.XPATH, '//div[@class="qsbSubmit"]')
search.click()

In [7]:
# Applying the filters

loc = driver.find_element(By.XPATH, '/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[4]/div[2]/div[3]/label/p')
loc.click()

In [8]:

package = driver.find_element(By.XPATH, '/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[5]/div[2]/div[2]/label/p')
package.click()

In [22]:
# Scraping details of job title

Job_title = []

title_tags = driver.find_elements(By.XPATH, '//div[@class=" row1"]/a')
for i in title_tags[:10]:
    title = i.text
    Job_title.append(title[:10])
print(Job_title)
print(len(Job_title))

['Data Scien', 'Data Scien', 'Data Scien', 'Data Analy', 'Big Data E', '', '', '', 'Data Scien', 'Data scien']
10

In [23]:
# Scraping details of job location

job_loc = []

loc_tags = driver.find_elements(By.XPATH, '//span[@class="ni-job-tuple-icon ni-job-tuple-icon-srp-location loc"]/span')
for i in loc_tags[:10]:
    location = i.text
    job_loc.append(location)
    
print(job_loc)
print(len(job_loc))

['Delhi / NCR, Pune, Bengaluru', 'Gurugram', 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru', 'New Delhi', 'Gurugram', 'Mumbai, Gurugram', 'Gurugram, Bengaluru', 'Gurugram', 'Noida', 'Noida']
10

In [24]:
# Scraping details of job company name

company_name = []

company_tags = driver.find_elements(By.XPATH, '//div[@class=" row2"]/span/a[1]')
for i in company_tags[:10]:
    company = i.text
    company_name.append(company)
    
print(company_name)

print(len(company_name))

['Wipro', 'Flutter', 'Essenware', 'Sociomix', 'Growthjockey', 'PayU', 'PayU', 'Orange Business Services', 'Ericsson', 'Times Internet']
10

In [25]:
# Scraping details of job description

job_description = []

job_desc = driver.find_elements(By.XPATH, '//div[@class=" row4"]/span')
for i in job_desc[:10]:
    description = i.text
    job_description.append(description)
    
print(job_description)
print(len(job_description))

['Job Description: • work closely with your business to identify issues and use data to p...', 'Your desire to solve analytically complex problems and give your team the winning intel...', 'To ensure successful initiation, planning, execution, control and completion of the ...', 'Experience: 0-5 years .', 'Master s Degree in Computer Science, Statistics, Applied Math or related field . 0-1 ye...', 'A degree in Statistics, Computer Science, Mathematics or other similar quantitative fie...', 'Degree (BE / BTech / MS, PhD or equivalent) in Computer Science, Mathematics, Operation...', 'extensive experience in between 3-5years of the following domains: Data Science, Machin...', '- Implement technical requirements by analyzing and optimizing their needs while ma...', '. Bachelors or Masters degree in computer science, statistics, mathematics, or a relate...']
10

In [26]:
# Scraping details of job salary package but seems to be disclosed

salary = []

salary_tags = driver.find_elements(By.XPATH, '//span[@class="ni-job-tuple-icon ni-job-tuple-icon-srp-rupee sal"]/span')
for i in salary_tags[:10]:
    package = i.text
    salary.append(package)
    
print(salary)
print(len(salary))

['Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed']
10

In [27]:
# Creating the DataFrame for 10 job details

df = pd.DataFrame({'Title':Job_title, 'Location':job_loc, 'Company Name':company_name, 'Job Description':job_description})
df

,Title,Location,Company Name,Job Description
0,Data Scien,"Delhi / NCR, Pune, Bengaluru",Wipro,Job Description: • work closely with your busi...
1,Data Scien,Gurugram,Flutter,Your desire to solve analytically complex prob...
2,Data Scien,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Essenware,"To ensure successful initiation, planning, exe..."
3,Data Analy,New Delhi,Sociomix,Experience: 0-5 years .
4,Big Data E,Gurugram,Growthjockey,"Master s Degree in Computer Science, Statistic..."
5,,"Mumbai, Gurugram",PayU,"A degree in Statistics, Computer Science, Math..."
6,,"Gurugram, Bengaluru",PayU,"Degree (BE / BTech / MS, PhD or equivalent) in..."
7,,Gurugram,Orange Business Services,extensive experience in between 3-5years of th...
8,Data Scien,Noida,Ericsson,- Implement technical requirements by analyzin...
9,Data scien,Noida,Times Internet,. Bachelors or Masters degree in computer scie...

# Scraping for site Shine :
    https://www.shine.com/

In [3]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import pandas as pd

In [4]:
# Initialize the driver

driver1 = webdriver.Chrome()

In [6]:
# Initialize the driver with Shine

driver1.get('https://www.shine.com/')

In [9]:
# Entering the Designation

designation = driver1.find_element(By.CLASS_NAME, "form-control  ")
designation.send_keys('Data Scientist')

In [10]:
# Entering the Location

loc = driver1.find_element(By.XPATH, '//li[@class="jobSearchForm_search_item__85hKe form-group"]/div/input')
loc.send_keys('Bangalore')

In [11]:
# Clicking the search button

search = driver1.find_element(By.XPATH, '//div[@class="searchForm_btnWrap_advance__VYBHN"]/button')
search.click()

Scraping the Job details:

In [20]:
# Scraping the Job titles:

job_title = []

title_tag = driver1.find_elements(By.XPATH, '//strong[@class="jobCard_pReplaceH2__xWmHg"]/p/a')
for i in title_tag[:10]:
    title = i.text
    job_title.append(title)
    
print(job_title)
print(len(job_title))

['Data Scientist', 'Data Scientist', 'Data Scientist Recruitment', 'Data Scientist', 'Data Scientist', 'Hiring For Data Scientist', 'Data Scientist', 'Senior Associate Data Engineering Level 2', 'Hr Data Analyst', 'Data Analyst']
10

In [21]:
# Scraping the Job Location:

job_location = []

loc_tag = driver1.find_elements(By.XPATH, '//div[@class="jobCard_jobCard_lists__fdnsc"]/div')
for i in loc_tag[:10]:
    location = i.text
    job_location.append(location)
    
print(job_location)
print(len(job_location))

['Bangalore', '3 to 8 Yrs\n5 Positions', 'Bangalore\n+1', '2 to 6 Yrs\n10 Positions', 'Bangalore\n+13', '0 to 4 Yrs\n98 Positions', 'Bangalore', '3 to 6 Yrs\n4 Positions', 'Bangalore\n+10', '18 to >25 Yrs\n99 Positions']
10

In [22]:
# Scraping the Company Name:

company_name = []

comp_tag = driver1.find_elements(By.XPATH, '//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in comp_tag[:10]:
    company = i.text
    company_name.append(company)
    
print(company_name)
print(len(company_name))

['comosrich it & consulting services', 'dotcod innovation private limited', 'kavya interprises', 'meraki it solutions', 'vaishnavi services', 'neelima staffing solution', 'talent toppers llp', 'tlg india private limited', 'leverage business solutions private...', 'aryan technology']
10

In [23]:
# Scraping the Experience Required:

exp_req = []

exp_tag = driver1.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in exp_tag[:10]:
    exp = i.text
    exp_req.append(exp)
    
print(exp_req)
print(len(exp_req))

['3 to 8 Yrs', '2 to 6 Yrs', '0 to 4 Yrs', '3 to 6 Yrs', '18 to >25 Yrs', '0 to 4 Yrs', '0 to 3 Yrs', '5 to 9 Yrs', '4 to 8 Yrs', '0 to 4 Yrs']
10

In [26]:
# Scraping the Positions Available:

position_avail = []

position_tag = driver1.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_positionIcon__2hhkm"]/li')
for i in position_tag[:10]:
    position = i.text
    position_avail.append(position)
    
print(position_avail)
print(len(position_avail))

['5 Positions', '10 Positions', '98 Positions', '4 Positions', '99 Positions', '89 Positions', '50 Positions', '20 Positions', '2 Positions', '10 Positions']
10

In [24]:
# Scraping the Skills Required:

skills_req = []

skill_tag = driver1.find_elements(By.XPATH, '//div[@class="jobCard_skillList__KKExE"]')
for i in skill_tag[:10]:
    skill = i.text
    skills_req.append(skill)
    
print(skills_req)
print(len(skills_req))

['coding • programming • data science+4', 'sql • numpy • python+2', 'computer science • machine learning+3', 'opencv • data science+7', 'graphical models+9', 'machine learning • sql • python+2', 'sql • machine learning+3', 'scala • hadoop • python • big data+4', 'sql • data • hr • hr analytics+3', 'time series analysis+5']
10

In [27]:
# Creating the DataFrame for 10 Job Details:

df = pd.DataFrame({'Title':job_title, 'Company Name':company_name, 'Positions Available':position_avail, 'Skills Required':skills_req})
df[:10]

,Title,Company Name,Positions Available,Skills Required
0,Data Scientist,comosrich it & consulting services,5 Positions,coding • programming • data science+4
1,Data Scientist,dotcod innovation private limited,10 Positions,sql • numpy • python+2
2,Data Scientist Recruitment,kavya interprises,98 Positions,computer science • machine learning+3
3,Data Scientist,meraki it solutions,4 Positions,opencv • data science+7
4,Data Scientist,vaishnavi services,99 Positions,graphical models+9
5,Hiring For Data Scientist,neelima staffing solution,89 Positions,machine learning • sql • python+2
6,Data Scientist,talent toppers llp,50 Positions,sql • machine learning+3
7,Senior Associate Data Engineering Level 2,tlg india private limited,20 Positions,scala • hadoop • python • big data+4
8,Hr Data Analyst,leverage business solutions private...,2 Positions,sql • data • hr • hr analytics+3
9,Data Analyst,aryan technology,10 Positions,time series analysis+5

# Scraping for site Flipkart:
    https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART

In [54]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import time

In [29]:
driver2 = webdriver.Chrome()

In [30]:
driver2.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART')

In [33]:
# Scraping the Rating out of 5:

rating = []

rate_tag = driver2.find_elements(By.XPATH, '//div[@class="XQDdHH Ga3i8K"]')
for i in rate_tag:
    rate = i.text
    rating.append(rate)
    
print(rating)
print(len(rating))

['5', '5', '5', '5', '5', '5', '5', '5', '5', '5']
10

In [34]:
# Scraping the review of customers:

reviews = []

review_tag = driver2.find_elements(By.XPATH, '//p[@class="z9E0IG"]')
for i in review_tag:
    review = i.text
    reviews.append(review)
    
print(reviews)
print(len(reviews))

['Worth every penny', 'Terrific', 'Best in the market!', 'Must buy!', 'Awesome', 'Wonderful', 'Just wow!', 'Classy product', 'Perfect product!', 'Fabulous!']
10

In [35]:
# Scraping the comments on the reviews of customers:

review_comments = []

comment_tag = driver2.find_elements(By.XPATH, '//div[@class="ZmyHeo"]/div')
for i in comment_tag:
    comment = i.text
    review_comments.append(comment)
    
print(review_comments)
print(len(review_comments))

['Feeling awesome after getting the delivery of my phone. Dual speakers makes the sound quality very loud. Amazing!!', 'Very very good', 'Good Camera', 'It’s really awesome', 'iPhone 11 is a good phone. Not a very big difference between 12 except for the OLED screen and a very minor camera improvement which is you cant make a difference. If you are planning for a iPhone and you have budget you definitely can go for this without second thoughts.\nNow some people are complaining and giving review 0 or so because there is no charger and headphones, but thats been already mentioned so I assume they are illiterate. Its not that Flipkart is removing them duh. Anyways bee...\nREAD MORE', 'This is amazing at all', 'Perfect Product!!', 'Camera is awesome\nBest battery backup\nA performer 👌🏻\nIt will be a real value for money if they provide charger and earphone inbox!', 'Photos super', 'It’s very good battery life and display and video quality and ther performance of iPhone.....🔥🔥🌈']
10

In [ ]:
# Scraping 100 products data:

start = 0
end = 10

for page in range(start, end):
    rate_tag = driver2.find_elements(By.XPATH, '//div[@class="XQDdHH Ga3i8K"]')
    for i in rate_tag[:100]:
        rating.append(i.text)
    
    review_tag = driver2.find_elements(By.XPATH, '//p[@class="z9E0IG"]')
    for i in review_tag[:100]:
        reviews.append(i.text)
        
    comment_tag = driver2.find_elements(By.XPATH, '//div[@class="ZmyHeo"]/div')
    for i in comment_tag[:100]:
        review_comments.append(i.text)
    
    next_button = driver2.find_element(By.XPATH, '//a[@class="_9QVEpD"]/span')
    next_button.click()
    time.sleep(3)

In [40]:
# Creating the DataFrame:

df1 = pd.DataFrame({'Ratings':rating, 'Reviews':reviews, 'Review Comments':review_comments})
df1[:100]

,Ratings,Reviews,Review Comments
0,5,Worth every penny,Feeling awesome after getting the delivery of ...
1,5,Terrific,Very very good
2,5,Best in the market!,Good Camera
3,5,Must buy!,It’s really awesome
4,5,Awesome,iPhone 11 is a good phone. Not a very big diff...
...,...,...,...
95,5,Wonderful,This is amazing at all
96,5,Just wow!,Perfect Product!!
97,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
98,5,Perfect product!,Photos super
99,5,Fabulous!,It’s very good battery life and display and vi...

# Scraping for the sneakers on Flipkart:
    www.flipkart.com

In [2]:
driver3 = webdriver.Chrome()

In [3]:
driver3.get('https://www.flipkart.com/')

In [4]:
# Entering the sneakers

sneaker = driver3.find_element(By.XPATH, '//div[@class="_2SmNnR"]/input')
sneaker.send_keys('sneakers')

In [5]:
# clicking the search:

search = driver3.find_element(By.XPATH, '//div[@class="_1sFryS _2alaMB"]/button')
search.click()

In [17]:
# Scraping the Brand name:

brand = []

brand_tag = driver3.find_elements(By.XPATH, '//div[@class="syl9yP"]')
for i in brand_tag:
    branding = i.text
    brand.append(branding)
    
print(brand)
print(len(brand))

['BRUTON', 'BRUTON', 'PUMA', 'PUMA', 'aadi', 'PUMA', 'BRUTON', 'BRUTON', 'ATOM', 'Abros', 'Aeonik', 'BRUTON', 'U.S. POLO ASSN.', 'Deals4you', 'Roadster', 'Red Tape', 'BRUTON', 'BRUTON', 'PUMA', 'bacca bucci', 'Sparx', 'aadi', 'PUMA', 'PUMA', 'aadi', 'asian', 'BRUTON', 'BRUTON', 'Abros', 'ATOM', 'aadi', 'BRUTON', 'aadi', 'URBANBOX', 'STALAG', 'aadi', 'BRUTON', 'lejano', 'asian', 'VENDOZ']
40

In [18]:
# Scraping the product description:

description = []

descri_tag = driver3.find_elements(By.XPATH, '//div[@class="hCKiGj"]/a[1]')
for i in descri_tag:
    descri = i.text
    description.append(descri)
    
print(description)
print(len(description))

['Modern Trendy Sneakers For Men', 'Exclusive Sneaker Shoes Sneakers For Men', 'Cliff IDP Sneakers For Men', 'Puma knit V3 Sneakers For Men', 'Lightweight,Comfort,Summer,Trendy,Walking,Outdoor,Styli...', 'ST Activate V2 IDP Sneakers For Men', 'Sneaker Sneakers For Men', 'Modern Trendy Shoes Sneakers For Men', 'Supernova Sneakers For Men', 'LEXUS Sneakers For Men', 'OGIY RETRO SHOES HIGH PREMIUM QUALITY Sneakers For Men', 'Trendy & Stylish Casual Shoes Sneakers For Men', 'Sneakers For Men', 'Sneakers For Women', 'Men Black Solid Casual Lightweight Sneakers For Men', 'Sneaker Casual Shoes for Men | Soft Cushioned Insole, S...', 'Combo Pack Of 4 Casual Loafer Shoes Sneakers For Men', 'Modern Trendy Sneakers Shoes Sneakers For Men', 'Puma Tychonic Sneakers For Men', 'OG TerraForge Low-Top Series: Bold Street-Ready Sneaker...', 'SM 734 | Stylish, Comfortable | Sneakers For Men', 'Synthetic Leather |Lightweight|Comfort|Summer|Trendy|Wa...', 'Pacer Styx IDP Sneakers For Men', 'Dexster Slip On IDP Sneakers For Men', 'Sneakers For Men', 'Sneaker Casual Shoes For Men | Soft Cushion Insole || B...', 'Trendy & Stylish Casual Shoes Sneakers For Men', 'Trendy & Stylish Sneakers Shoes Sneakers For Men', 'EPIC Sneakers For Men', 'Spring Edge Alpha 2 Sneakers For Men', 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...', 'Modern Trendy Shoes Sneakers For Men', 'Aadi Men Black & Green Casual Sneaker Sneakers For Men', 'Trending Stylish Casual Outdoor Shoes Sneakers For Men', 'ogiy retro shoes high premium quality Sneakers For Men', 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...', 'Modern Trendy Sneakers Shoes Sneakers For Men', 'Sneakers For Men', 'Casual Sneakers Shoes For Men Mexico-11 Sneakers For Me...', 'Casual Stylish Trending Sneakers For Women']
40

In [19]:
# Scraping the product price:

price = []

price_tag = driver3.find_elements(By.XPATH, '//div[@class="Nx9bqj"]')
for i in price_tag:
    pricing = i.text
    price.append(pricing)
    
print(price)
print(len(price))

['₹297', '₹297', '₹1,047', '₹1,047', '₹299', '₹1,340', '₹297', '₹297', '₹1,685', '₹949', '₹521', '₹297', '₹1,709', '₹399', '₹799', '₹1,379', '₹599', '₹297', '₹1,047', '₹1,699', '₹721', '₹298', '₹1,435', '₹1,298', '₹425', '₹777', '₹498', '₹297', '₹1,799', '₹999', '₹299', '₹449', '₹469', '₹449', '₹750', '₹299', '₹297', '₹578', '₹749', '₹629']
40

In [20]:
# Scraping 100 product details:

start = 0
end = 7

for page in range(start, end):
    brand_tag = driver3.find_elements(By.XPATH, '//div[@class="syl9yP"]')
    for i in brand_tag[:100]:
        brand.append(i.text)
        
    descri_tag = driver3.find_elements(By.XPATH, '//div[@class="hCKiGj"]/a[1]')
    for i in descri_tag[:100]:
        description.append(i.text)
        
    price_tag = driver3.find_elements(By.XPATH, '//div[@class="Nx9bqj"]')
    for i in price_tag[:100]:
        price.append(i.text)
        
    next_button = driver3.find_element(By.XPATH, '//a[@class="_9QVEpD"]/span')
    next_button.click()
    time.sleep(3)

In [22]:
# Creating the DataFrame:

import pandas as pd
df = pd.DataFrame({'Brand':brand, 'Product Description':description, 'Price':price})
df[:100]

           Brand                                Product Description   Price
0         BRUTON                     Modern Trendy Sneakers For Men    ₹297
1         BRUTON           Exclusive Sneaker Shoes Sneakers For Men    ₹297
2           PUMA                         Cliff IDP Sneakers For Men  ₹1,047
3           PUMA                      Puma knit V3 Sneakers For Men  ₹1,047
4           aadi  Lightweight,Comfort,Summer,Trendy,Walking,Outd...    ₹299
..           ...                                                ...     ...
95         asian  Flat Sole Sneakers Shoes for all Day wear with...    ₹777
96       TERFILL       Multicolor Stylish Casual Sneakers For Women    ₹639
97  K' Footlance  Modern Trendy Sneakers boot Sneakers For Men S...    ₹559
98         asian  Mens High Top Casual Chunky Sneakers Sneakers ...  ₹1,033
99          PUMA                     Puma Tychonic Sneakers For Men  ₹1,000

[100 rows x 3 columns]

# Scraping for site Amazon:
    https://www.amazon.in/

In [39]:
driver4 = webdriver.Chrome()

In [40]:
driver4.get('https://www.amazon.in/')

In [41]:
# Entering in the search box:

laptop = driver4.find_element(By.XPATH, '//div[@class="nav-fill"]/div/input')
laptop.send_keys('Laptop')

In [42]:
# Clicking on the search button:

search = driver4.find_element(By.XPATH, '//div[@class="nav-right"]/div/span/input')
search.click()

In [43]:
# Setting the filter to Intel i7:

filtering = driver4.find_element(By.XPATH, '/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[2]/span/span[11]/li/span/a/span')
filtering.click()

In [59]:
# Scraping the Laptop details : Title, Ratings & Price

lap_title = []

title_tag = driver4.find_elements(By.XPATH, '//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tag[:10]:
    title = i.text
    lap_title.append(title)
    
print(lap_title)
print(len(lap_title))

['Lenovo IdeaPad Pro 5 Intel Evo Core Ultra 9 185H Built-in AI 14" (35.56cm) 2.8K-OLED 400Nits 120Hz Laptop (32GB/1TB SSD/Win11/Office 21/FHD+IR Camera/Alexa/3 Mon Game Pass/Grey/1.4Kg), 83D2001GIN', 'ASUS Vivobook 16 (2023)Thin & Light Laptop,Intel Core i9-13900H 13th Gen, 16" (40.64 cm) FHD+(16GB RAM/512GB SSD/Intel Iris Xe/Win 11/Office 2021/Backlit KB/Fingerprint/Black/1.88 kg) X1605VA-MB947WS', 'ASUS ROG Strix G16 (2024), 16 "(40.64cm) QHD+ 240Hz, Intel Core i9 14900HX, Gaming Laptop (16GB DDR5/1TB SSD/NVIDIA GeForce RTX 4070 /Windows 11/Office 2021/Eclipse Gray/2.50 Kg), G614JIR-N4062WS', 'Lenovo IdeaPad Pro 5 Intel Core Ultra 9 185H Built-in AI 16" (40.6cm) 2K-OLED 400Nits 120Hz Touchscreen Laptop (32GB/1TB SSD/NVIDIA RTX 4050 6GB/Win11/Office/3mon. Game Pass/Grey/1.9Kg), 83D4002PIN', 'Dell G15 5530 Gaming Laptop, Intel i9-13900HX,16GB DDR5,1TB SSD,NVIDIA RTX 4060-8GB GDDR6, 15.6" (39.62cm) FHD 165Hz,NVIDIA G-SYNC+DDS Display,Win 11, Backlit Keyboard 4-Zone,Dark Shadow Gray, 2.65 Kg', 'HP OMEN Gaming Laptop, 13th Gen Intel Core i9-13900HX, 8GB RTX 4060 GPU, 16.1-inch (40.9 cm), FHD, IPS, 165Hz, 300 nits, 16GB DDR5, 1TB SSD, RGB Backlit KB, B&O (MSO, Black, 2.38 kg), wf0148TX', 'Acer Predator Helios Neo 16 Gaming Laptop 14th Gen Intel Core i9 Processor (Windows 11 Home/16 GB/1 TB SSD/NVIDIA GeForce RTX 4070) PHN16-72 with 40.64 cm (16") WQXGA Display', 'ASUS Vivobook Pro 16, Intel Core i9 11th Gen, 16" (40.64 cm) FHD+ 120Hz, Thin & Light Laptop (16GB/512GB SSD/4GB RTX 3050/Win 11/Office 2021/Alexa/Backlit KB/FP Sensor/Blue/1.9 kg), K6602HC-N1901WS', 'Lenovo Legion Pro 7 Intel Core i9-14900HX 16" (40.6cm) WQXGA IPS 500Nits 240Hz Gaming Laptop (32GB/1TB SSD/Win 11/Office 21/NVIDIA RTX 4090 16GB/100% DCI-P3/3mon Xbox Game Pass/Black/2.6Kg),83DE001JIN', 'Dell Alienware m18 R1 Gaming Laptop, Intel Core i9-13980HX Processor/64GB/1TB SSD/18.0" (45.72cm) QHD+ FHD 165Hz/NVIDIA RTX 4090 16GB GDDR6/Win 11 + MSO\'21/15 Month McAfee/Dark Metallic Moon/2.72kg']
10

In [58]:
# Now for Ratings:

Rating = []

rating_tag = driver4.find_elements(By.XPATH, '//a[@class="a-link-normal s-underline-text s-underline-link-text s-link-style"]/span')
for i in rating_tag[:10]:
    rating = i.text
    Rating.append(rating)
    
print(Rating)
print(len(Rating))

['2,250', '154', 'Limited time deal', '3', '35', 'Limited time deal', '6', 'Limited time deal', '131', '3']
10

In [57]:
# Now for Price:

Price = []

price_tag = driver4.find_elements(By.XPATH, '//span[@class="a-price-whole"]')
for i in price_tag[:10]:
    price = i.text
    Price.append(price)
    
print(Price)
print(len(Price))

['1,07,990', '84,990', '1,99,490', '1,48,990', '1,48,620', '1,57,990', '1,74,990', '89,990', '3,72,490', '4,09,990']
10

In [60]:
df = pd.DataFrame({'Title':title, 'Ratings':Rating, 'Price':Price})
df[:10]

,Title,Ratings,Price
0,"Dell Alienware m18 R1 Gaming Laptop, Intel Cor...","2,250","1,07,990"
1,"Dell Alienware m18 R1 Gaming Laptop, Intel Cor...",154,"84,990"
2,"Dell Alienware m18 R1 Gaming Laptop, Intel Cor...",Limited time deal,"1,99,490"
3,"Dell Alienware m18 R1 Gaming Laptop, Intel Cor...",3,"1,48,990"
4,"Dell Alienware m18 R1 Gaming Laptop, Intel Cor...",35,"1,48,620"
5,"Dell Alienware m18 R1 Gaming Laptop, Intel Cor...",Limited time deal,"1,57,990"
6,"Dell Alienware m18 R1 Gaming Laptop, Intel Cor...",6,"1,74,990"
7,"Dell Alienware m18 R1 Gaming Laptop, Intel Cor...",Limited time deal,"89,990"
8,"Dell Alienware m18 R1 Gaming Laptop, Intel Cor...",131,"3,72,490"
9,"Dell Alienware m18 R1 Gaming Laptop, Intel Cor...",3,"4,09,990"

In [64]:
# Scraping for site Az quotes:

driver5 = webdriver.Chrome()

In [66]:
driver5.get('https://www.azquotes.com/')

In [68]:
# Clicking on the Top Quotes:

top_quotes = driver5.find_element(By.XPATH, '//a[@href="/top_quotes.html"]')
top_quotes.click()

In [69]:
# Scraping the Quote, Author & Types of Quote:

quote = []

quote_tag = driver5.find_elements(By.XPATH, '//a[@class="title"]')
for i in quote_tag:
    quotes = i.text
    quote.append(quotes)
    
print(quote)
print(len(quote))

['The essence of strategy is choosing what not to do.', 'One cannot and must not try to erase the past merely because it does not fit the present.', 'Patriotism means to stand by the country. It does not mean to stand by the president.', 'Death is something inevitable. When a man has done what he considers to be his duty to his people and his country, he can rest in peace. I believe I have made that effort and that is, therefore, why I will sleep for the eternity.', 'You have to love a nation that celebrates its independence every July 4, not with a parade of guns, tanks, and soldiers who file by the White House in a show of strength and muscle, but with family picnics where kids throw Frisbees, the potato salad gets iffy, and the flies die from happiness. You may think you have overeaten, but it is patriotism.', 'Be more concerned with your character than your reputation, because your character is what you really are, while your reputation is merely what others think you are.', 'Weak people revenge. Strong people forgive. Intelligent People Ignore.', "A mind is like a parachute. It doesn't work if it is not open.", 'Never be afraid to raise your voice for honesty and truth and compassion against injustice and lying and greed. If people all over the world...would do this, it would change the earth.', 'There are three kinds of men. The one that learns by reading. The few who learn by observation. The rest of them have to pee on the electric fence for themselves.', "A strong nation, like a strong person, can afford to be gentle, firm, thoughtful, and restrained. It can afford to extend a helping hand to others. It's a weak nation, like a weak person, that must behave with bluster and boasting and rashness and other signs of insecurity.", 'The difference between stupidity and genius is that genius has its limits.', 'We the people are the rightful masters of both Congress and the courts, not to overthrow the Constitution but to overthrow the men who pervert the Constitution.', 'With or without religion, you would have good people doing good things and evil people doing evil things. But for good people to do evil things, that takes religion.', 'Human kindness has never weakened the stamina or softened the fiber of a free people. A nation does not have to be cruel to be tough.', 'A person who never made a mistake never tried anything new.', 'My mission in life is not merely to survive, but to thrive; and to do so with some passion, some compassion, some humor, and some style', 'Life is short, Break the Rules. Forgive quickly, Kiss slowly. Love truly. Laugh uncontrollably And never regret ANYTHING That makes you smile.', 'This country will not be a good place for any of us to live in unless we make it a good place for all of us to live in.', 'In a world filled with hate, we must still dare to hope. In a world filled with anger, we must still dare to comfort. In a world filled with despair, we must still dare to dream. And in a world filled with distrust, we must still dare to believe.', 'Darkness cannot drive out darkness; only light can do that. Hate cannot drive out hate; only love can do that.', 'To be a Christian means to forgive the inexcusable because God has forgiven the inexcusable in you.', 'A man who is good enough to shed his blood for the country is good enough to be given a square deal afterwards.', 'Kindness is the language which the deaf can hear and the blind can see.', 'Most folks are as happy as they make up their minds to be.', 'A happy marriage is the union of two good forgivers.', 'I believe in Christianity as I believe that the sun has risen: not only because I see it, but because by it I see everything else.', 'Politics is the art of looking for trouble, finding it everywhere, diagnosing it incorrectly and applying the wrong remedies.', "I believe in everything until it's disproved. So I believe in fairies, the myths, dragons. It all exists, even if it's in your mind. Who's to say that dreams and nightmares aren't as real as the here and now?", 'At the end of your life, you will never regret not having passed one more test, not winning one more verdict or not closing one more deal. You will regret time not spent with a husband, a friend, a child, or a parent.', 'I never think of the future - it comes soon enough.', "Our greatest fear should not be of failure but of succeeding at things in life that don't really matter.", 'Failure is simply the opportunity to begin again, this time more intelligently.', 'Music expresses that which cannot be put into words.', 'Good actions are a guard against the blows of adversity.', 'Positive thinking will let you do everything better than negative thinking will.', "You have enemies? Good. That means you've stood up for something, sometime in your life.", "You don't have to be great to start, but you have to start to be great", 'Let every nation know, whether it wishes us well or ill, that we shall pay any price, bear any burden, meet any hardship, support any friend, oppose any foe to assure the survival and the success of liberty.', "If you want total security, go to prison. There you're fed, clothed, given medical care and so on. The only thing lacking... is freedom.", 'Socialism is a philosophy of failure, the creed of ignorance, and the gospel of envy, its inherent virtue is the equal sharing of misery.', 'It is the supreme art of the teacher to awaken joy in creative expression and knowledge.', "Once you replace negative thoughts with positive ones, you'll start having positive results.", "You build on failure. You use it as a stepping stone. Close the door on the past. You don't try to forget the mistakes, but you don't dwell on it. You don't let it have any of your energy, or any of your time, or any of your space.", 'All my life through, the new sights of Nature made me rejoice like a child.', "I've learned that people will forget what you said, people will forget what you did, but people will never forget how you made them feel.", 'Marriage is not a ritual or an end. It is a long, intricate, intimate dance together and nothing matters more than your own sense of balance and your choice of partner.', 'When obstacles arise, you change your direction to reach your goal; you do not change your decision to get there.', 'Time you enjoy wasting, was not wasted.', 'The next time some academics tell you how important diversity is, ask how many Republicans there are in their sociology department.', 'Faith is not the belief that God will do what you want. It is the belief that God will do what is right.', "If you can't fly then run, if you can't run then walk, if you can't walk then crawl, but whatever you do you have to keep moving forward.", 'It is hard to imagine a more stupid or more dangerous way of making decisions than by putting those decisions in the hands of people who pay no price for being wrong.', 'I say that the most liberating thing about beauty is realizing that you are the beholder.', 'The ultimate measure of a man is not where he stands in moments of comfort and convenience, but where he stands at times of challenge and controversy.', 'The soldier, above all other people, prays for peace, for he must suffer and bear the deepest wounds and scars of war.', 'A true leader has the confidence to stand alone, the courage to make tough decisions, and the compassion to listen to the needs of others. He does not set out to be a leader, but becomes one by the equality of his actions and the integrity of his intent.', 'I am a Soldier, I fight where I am told, and I win where I fight.', "Trying to do the Lord's work in your own strength is the most confusing, exhausting, and tedious of all work. But when you are filled with the Holy Spirit, then the ministry of Jesus just flows out of you.", "Sports for me is when a guy walks off the court, and you really can't tell whether he won or lost, when he carries himself with pride either way.", 'Expect the best. Prepare for the worst. Capitalize on what comes.', 'I became insane, with long intervals of horrible sanity.', 'Failure is a detour, not a dead-end street.', 'I am not a product of my circumstances. I am a product of my decisions.', 'You can cut all the flowers but you cannot keep spring from coming.', "Life doesn't run away from nobody. Life runs at people.", 'In order to succeed, your desire for success should be greater than your fear of failure.', "It's difficult to think anything but pleasant thoughts while eating a homegrown tomato.", 'Too many of us are not living our dreams because we are living our fears.', 'If the only prayer you ever say in your entire life is thank you, it will be enough.', "It's just a job. Grass grows, birds fly, waves pound the sand. I beat people up.", 'A man must be big enough to admit his mistakes, smart enough to profit from them, and strong enough to correct them.', 'Our greatest weakness lies in giving up. The most certain way to succeed is always to try just one more time.', "It has been said, 'time heals all wounds.' I do not agree. The wounds remain. In time, the mind, protecting its sanity, covers them with scar tissue and the pain lessens. But it is never gone.", 'This is one small step for a man, one giant leap for mankind.', "I have held many things in my hands, and I have lost them all; but whatever I have placed in God's hands, that I still possess.", "Welfare's purpose should be to eliminate, as far as possible, the need for its own existence.", 'Each time, before you intercede, be quiet first, and worship God in His glory. Think of what He can do, and how He delights to hear the prayers of His redeemed people. Think of your place and privilege in Christ, and expect great things!', "Failure is not the opposite of success; it's part of success.", 'No one has ever become poor by giving.', 'It is not my ability, but my response to God’s ability, that counts.', 'No one is born hating another person because of the color of his skin, or his background, or his religion. People must learn to hate, and if they can learn to hate, they can be taught to love, for love comes more naturally to the human heart than its opposite.', 'No matter what people tell you, words and ideas can change the world.', 'A man should never neglect his family for business.', 'Those who dare to fail miserably can achieve greatly.', 'The two most important days in your life are the day you are born and the day you find out why.', 'We must be global Christians with a global vision because our God is a global God.', 'With everything that has happened to you, you can either feel sorry for yourself or treat what has happened as a gift. Everything is either an opportunity to grow or an obstacle to keep you from growing. You get to choose.', 'Don’t let the noise of others’ opinions drown out your own inner voice.', 'History, despite its wrenching pain, cannot be unlived, but if faced with courage, need not be lived again.', "How old would you be if you didn't know how old you are?", 'Leadership is a privilege to better the lives of others. It is not an opportunity to satisfy personal greed.', 'If you have good thoughts they will shine out of your face like sunbeams and you will always look lovely.', 'Never cut a tree down in the wintertime. Never make a negative decision in the low time. Never make your most important decisions when you are in your worst moods. Wait. Be patient. The storm will pass. The spring will come.', 'An optimist stays up until midnight to see the new year in. A pessimist stays up to make sure the old year leaves.', 'When the going gets weird, the weird turn pro.', "When a train goes through a tunnel and it gets dark, you don't throw away the ticket and jump off. You sit still and trust the engineer.", 'If you think you are too small to make a difference, try sleeping with a mosquito.', "God doesn't require us to succeed, he only requires that you try.", 'Change your thoughts and you change your world.']
100

In [70]:
# For Author:

authors = []

author_tag = driver5.find_elements(By.XPATH, '//div[@class="author"]/a')
for i in author_tag:
    author = i.text
    authors.append(author)
    
print(authors)
print(len(authors))

['Michael Porter', 'Golda Meir', 'Theodore Roosevelt', 'Nelson Mandela', 'Erma Bombeck', 'John Wooden', 'Albert Einstein', 'Frank Zappa', 'William Faulkner', 'Will Rogers', 'Jimmy Carter', 'Albert Einstein', 'Abraham Lincoln', 'Steven Weinberg', 'Franklin D. Roosevelt', 'Albert Einstein', 'Maya Angelou', 'Mark Twain', 'Theodore Roosevelt', 'Michael Jackson', 'Martin Luther King, Jr.', 'C. S. Lewis', 'Theodore Roosevelt', 'Mark Twain', 'Abraham Lincoln', 'Ruth Graham', 'C. S. Lewis', 'Groucho Marx', 'John Lennon', 'Barbara Bush', 'Albert Einstein', 'Francis Chan', 'Henry Ford', 'Victor Hugo', 'Abu Bakr', 'Zig Ziglar', 'Winston Churchill', 'Zig Ziglar', 'John F. Kennedy', 'Dwight D. Eisenhower', 'Winston Churchill', 'Albert Einstein', 'Willie Nelson', 'Johnny Cash', 'Marie Curie', 'Maya Angelou', 'Amy Bloom', 'Zig Ziglar', 'John Lennon', 'Thomas Sowell', 'Max Lucado', 'Martin Luther King, Jr.', 'Thomas Sowell', 'Salma Hayek', 'Martin Luther King, Jr.', 'Douglas MacArthur', 'Douglas MacArthur', 'George S. Patton', 'Corrie Ten Boom', 'Jim Courier', 'Zig Ziglar', 'Edgar Allan Poe', 'Zig Ziglar', 'Stephen Covey', 'Pablo Neruda', 'Joe Frazier', 'Bill Cosby', 'Lewis Grizzard', 'Les Brown', 'Meister Eckhart', 'Muhammad Ali', 'John C. Maxwell', 'Thomas A. Edison', 'Rose Kennedy', 'Neil Armstrong', 'Martin Luther', 'Ronald Reagan', 'Andrew Murray', 'Arianna Huffington', 'Anne Frank', 'Corrie Ten Boom', 'Nelson Mandela', 'Robin Williams', 'Walt Disney', 'John F. Kennedy', 'Mark Twain', 'John Stott', 'Wayne Dyer', 'Steve Jobs', 'Maya Angelou', 'Satchel Paige', 'Mwai Kibaki', 'Roald Dahl', 'Robert H. Schuller', 'Bill Vaughan', 'Hunter S. Thompson', 'Corrie Ten Boom', 'Dalai Lama', 'Mother Teresa', 'Norman Vincent Peale']
100

In [71]:
# For Type of Quote:

type = []

type_tag = driver5.find_elements(By.XPATH, '//div[@class="tags"]')
for i in type_tag:
    types = i.text
    type.append(types)
    
print(type)
print(len(type))

['Essence, Deep Thought, Transcendentalism', 'Inspiration, Past, Trying', 'Country, Peace, War', 'Inspirational, Motivational, Death', '4th Of July, Food, Patriotic', 'Inspirational, Success, Basketball', 'Strong, Revenge, Intelligent', 'Inspirational, Teacher, Religious', 'Truth, Honesty, Lying', 'Funny, Reading, Learning', 'Strong, Thoughtful, Compassion', 'Love, Funny, Life', 'Freedom, Men, Democracies Have', 'God, Religious, Atheist', 'Respect, Kindness, Character', 'Inspirational, Motivational, Change', 'Inspirational, Life, Inspiring', 'Love, Inspirational, Life', 'Inspiring, Country, 4th Of July', 'Inspirational, Dream, Hate', 'Love, Inspirational, Life', 'Forgiveness, God, Christian', 'Country, Men, Squares', 'Inspirational, Relationship, Positive', 'Inspirational, Motivational, Positive', 'Love, Friendship, Relationship', 'Faith, God, Christian', 'Art, Freedom, Political Will', 'Inspirational, Life, Faith', 'Inspirational, Life, Meaningful', 'Happiness, Time, Clever', 'Inspirational, Inspiring, Success', 'Love, Inspirational, Life', 'Music, Sound And Music, Musical Life', 'Adversity, Blow, Action', 'Positive, Thinking Of You, Attitude', 'Inspirational, Funny, Life', 'Inspirational, Life, Motivational', 'Inspirational, Memorial Day, Freedom', 'Freedom, Patriotic, Vaccines', 'Philosophy, Ignorance, Democratic Socialism', 'Inspirational, Dance, Education', 'Life, Change, Positive', 'Life, Bullying, Mistake', 'Life, Nature, Children', 'Inspirational, Life, Motivational', 'Marriage, Love You, Long', 'Inspirational, Motivational, Success', 'Love, Inspirational, Life', 'Diversity, Important, Liberty', 'Inspirational, God, Faith', 'Inspirational, Motivational, Inspiring', 'Business, Stupid, Government', 'Beauty, Love Yourself, Your Beautiful', 'Inspirational, Life, Motivational', 'Peace, Military, War', 'Inspirational, Leadership, Confidence', 'Motivational, Military, War', 'Christian, Jesus, Confusing', 'Inspirational, Success, Sports', 'Inspirational, Motivational, Success', 'Inspirational, Life, Clever', 'Inspirational, Death, Failure', 'Inspirational, Life, Motivational', 'Inspiring, Hope, Spring', 'Motivational, Running, People', 'Inspirational, Motivational, Positive', 'Summer, Food, Garden', 'Inspirational, Life, Motivational', 'Inspirational, Life, Thank You', 'Funny, Sports, Jobs', 'Being Strong, Wisdom, Stay Strong', 'Inspirational, Motivational, Positive', 'Time, Pain, Get Well', 'Motivational, Positive, Moon', 'Life, God, Christian', 'President, Needs, Purpose', 'God, Faith, Christian', 'Women, Failure, Successful', 'Inspirational, Morning, Kindness', 'Hiding Place, Ability, Baby Boom', 'Love, Inspirational, Life', 'Inspirational, Change, Philosophy', 'Inspirational, Family, Inspiring', 'Inspirational, Success, Courage', 'Inspirational, Life, Motivational', 'Christian, Vision, Missionary', 'Inspirational, Positive, Regret', 'Love, Inspirational, Life', 'Inspirational, Life, Encouragement', 'Happy Birthday, Baseball, Fun', 'Leadership, Power, Opportunity', 'Inspirational, Life, Positive', 'Inspirational, Encouraging, Patience', 'New Year, Fun, New Beginnings', 'Music, Sports, Hunting', 'Trust, Encouraging, Uplifting', 'Inspirational, Funny, Change', 'Success, God, Mother', 'Inspirational, Motivational, Change']
100

In [81]:
# Scraping the first 1000 products data:

start = 0
end = 9

for page in range(start, end):
    
    quote_tag = driver5.find_elements(By.XPATH, '//a[@class="title"]')
    for i in quote_tag:
        quote.append(i.text)
        
    author_tag = driver5.find_elements(By.XPATH, '//div[@class="author"]/a')
    for i in author_tag:
        authors.append(i.text)
        
    type_tag = driver5.find_elements(By.XPATH, '//div[@class="tags"]')
    for i in type_tag:
        type.append(i.text)
        
    next_button = driver5.find_element(By.XPATH, '//li[@class="next"]/a[1]')
    next_button.click()
    time.sleep(3)

In [83]:
df = pd.DataFrame({'Quotes':quote, 'Authors':authors, 'Type of Quote':type})
df[:1000]

,Quotes,Authors,Type of Quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Let us not seek the Republican answer or the D...,John F. Kennedy,"4th Of July, Responsibility, Past"
996,"Life isn't a matter of milestones, but of mome...",Rose Kennedy,"Inspirational, Life, Change"
997,The time is always right to do what is right.,"Martin Luther King, Jr.","Inspirational, Positive, Inspiring"
998,"Whatever you want to do, do it now. There are ...",Michael Landon,"Motivational, Positive, Death"
999,be yourself- not your idea of what you think s...,Henry David Thoreau,"Inspirational, Being Yourself, Real"

# For the site Jorgan Josh:
    https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1

In [2]:
driver6 = webdriver.Chrome()

In [3]:
driver6.get('https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1')

In [21]:
# Scraping the PM Information list:

pm_list = []

name_tag = driver6.find_elements(By.XPATH, '//td[@valign="top"]')
for i in name_tag:
    name = i.text
    pm_list.append(name)

print(pm_list)

['1.', 'Jawahar Lal Nehru', '(1889–1964)', '15 August 1947 to 27 May 1964\n16 years, 286 days', 'The first prime minister of India and the longest-serving PM of India, the first to die in office.', '2.', 'Gulzarilal Nanda (Acting)', '(1898-1998)', '27 May 1964 to 9 June 1964,\n13 days', 'First acting PM of India', '3.', 'Lal Bahadur Shastri', '(1904–1966)', '9 June 1964 to 11 January 1966\n1 year, 216 days', "He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965", '5.', 'Indira Gandhi', '(1917–1984)', '24 January 1966 to 24 March 1977\n11 years, 59 days', 'First female Prime Minister of India', '6.', 'Morarji Desai', '(1896–1995)', '24 March 1977 to  28 July 1979 \n2 year, 126 days', 'Oldest to become PM (81 years old) and first to resign from office', '7.', 'Charan Singh', '(1902–1987)', '28 July 1979 to 14 January 1980\n170 days', 'Only PM who did not face the Parliament', '8.', 'Indira Gandhi', '(1917–1984)', '14 January 1980 to 31 October 1984\n4 years, 291 days', 'The first lady who served as PM for the second term', '9.', 'Rajiv Gandhi', '(1944–1991)', '31 October 1984 to 2 December 1989\n5 years, 32 days', 'Youngest to become PM (40 years old)', '10.', 'V. P. Singh', '(1931–2008)', '2 December 1989 to 10 November 1990\n343 days', 'First PM to step down after a vote of no confidence', '11.', 'Chandra Shekhar', '(1927–2007)', '10 November 1990 to 21 June 1991\n223 days', 'He belongs to  Samajwadi Janata Party', '12.', 'P. V. Narasimha Rao', '(1921–2004)', '21 June 1991 to 16 May 1996\n4 years, 330 days', 'First PM from South India', '13.', 'Atal Bihari Vajpayee', '(1924- 2018)', '16 May 1996 to 1 June 1996\n16 days', 'PM for shortest tenure', '14.', 'H. D. Deve Gowda', '(born 1933)', '1 June 1996 to 21 April 1997\n324 days', 'He belongs to  Janata Dal', '15.', 'Inder Kumar Gujral', '(1919–2012)', '21 April 1997 to 19 March 1998 \n332 days', '------', '16.', 'Atal Bihari Vajpayee', '(1924-2018)', '19 March 1998 to 22 May 2004 \n6 years, 64 days', ' The first non-congress PM who completed a full term as PM', '17.', 'Manmohan Singh', '(born 1932)', '22 May 2004 to 26 May 2014   \n10 years, 4 days', ' First Sikh PM', '18.', 'Narendra Modi', '(born 1950)', '26 May 2014 - 2019', '4th Prime Minister of India who served two consecutive tenures']

In [27]:
# Converting the single list into 3 required lists based on the given question:

pm_names = [pm_list[i+1] for i in range(0, len(pm_list), 5)]

born_dates = [pm_list[i+2] for i in range(0, len(pm_list), 5)]

term_periods = [pm_list[i+3] for i in range(0, len(pm_list), 5)]

print("PM Names:", pm_names)
print("Born-Dead Dates:", born_dead)
print("Term Periods:", term_periods)

PM Names: ['Jawahar Lal Nehru', 'Gulzarilal Nanda (Acting)', 'Lal Bahadur Shastri', 'Indira Gandhi', 'Morarji Desai', 'Charan Singh', 'Indira Gandhi', 'Rajiv Gandhi', 'V. P. Singh', 'Chandra Shekhar', 'P. V. Narasimha Rao', 'Atal Bihari Vajpayee', 'H. D. Deve Gowda', 'Inder Kumar Gujral', 'Atal Bihari Vajpayee', 'Manmohan Singh', 'Narendra Modi']
Born-Dead Dates: ['(1889–1964)', '(1898-1998)', '(1904–1966)', '(1917–1984)', '(1896–1995)', '(1902–1987)', '(1917–1984)', '(1944–1991)', '(1931–2008)', '(1927–2007)', '(1921–2004)', '(1924- 2018)', '(born 1933)', '(1919–2012)', '(1924-2018)', '(born 1932)', '(born 1950)']
Term Periods: ['15 August 1947 to 27 May 1964\n16 years, 286 days', '27 May 1964 to 9 June 1964,\n13 days', '9 June 1964 to 11 January 1966\n1 year, 216 days', '24 January 1966 to 24 March 1977\n11 years, 59 days', '24 March 1977 to  28 July 1979 \n2 year, 126 days', '28 July 1979 to 14 January 1980\n170 days', '14 January 1980 to 31 October 1984\n4 years, 291 days', '31 October 1984 to 2 December 1989\n5 years, 32 days', '2 December 1989 to 10 November 1990\n343 days', '10 November 1990 to 21 June 1991\n223 days', '21 June 1991 to 16 May 1996\n4 years, 330 days', '16 May 1996 to 1 June 1996\n16 days', '1 June 1996 to 21 April 1997\n324 days', '21 April 1997 to 19 March 1998 \n332 days', '19 March 1998 to 22 May 2004 \n6 years, 64 days', '22 May 2004 to 26 May 2014   \n10 years, 4 days', '26 May 2014 - 2019']

In [17]:
# Creating the DataFrame:

df = pd.DataFrame({'PM Names':pm_names, 'Born-Dead':born_dead, 'Term Periods':term_periods})
df

,PM Names,Born-Dead,Term Periods
0,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964\n16 years, 286 days"
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,\n13 days"
2,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966\n1 year, 216 days"
3,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 1977\n11 years, 59..."
4,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days"
5,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980\n170 days
6,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 1984\n4 years, 2..."
7,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 1989\n5 years, 3..."
8,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990\n343 days
9,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991\n223 days
10,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996\n4 years, 330 days"
11,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996\n16 days
12,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997\n324 days
13,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 \n332 days
14,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days"
15,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 \n10 years, 4 days"
16,Narendra Modi,(born 1950),26 May 2014 - 2019

# For site Motor1:
    https://www.motor1.com/

In [28]:
driver7 = webdriver.Chrome()

In [29]:
driver7.get('https://www.motor1.com/')

In [31]:
# Entering the 50 most expensive cars

enter = driver7.find_element(By.XPATH, '//input[@class="m1-search-panel-input m1-search-form-text"]')
enter.send_keys('50 most expensive cars')

In [32]:
# Searching the required the title:

search = driver7.find_element(By.XPATH, '//button[@class="m1-search-panel-button m1-search-form-button-animate icon-search-svg"]')
search.click()

In [33]:
# Now clicking the Search button:

top_cars = driver7.find_element(By.XPATH, '//div[@class="info"]/div/h3/a[1]')
top_cars.click()

In [38]:
# Scraping the Top 50 Cars Names:

cars_list = []

car_tag = driver7.find_elements(By.XPATH, '//h3[@class="subheader"]')
for i in car_tag[:50]:
    car = i.text
    cars_list.append(car)
    
print(cars_list)
print(len(cars_list))

['McLaren Senna GTR', 'Czinger 21C', 'Ferrari Monza', 'Gordon Murray T.33', 'Koenigsegg Gemera', 'Hennessey Venom F5', 'Bentley Bacalar', 'Hispano Suiza Carmen Boulogne', 'Bentley Mulliner Batur', 'SSC Tuatara', 'Lotus Evija', 'Aston Martin Vulcan', 'Delage D12', 'Ferrari Daytona SP3', 'McLaren Speedtail', 'Rimac Nevera', 'Pagani Utopia', 'Pininfarina Battista', 'Gordon Murray T.50', 'Lamborghini Countach', 'Hennessey Venom F5 Revolution', 'Mercedes-AMG Project One', 'Zenvo Aurora', 'Aston Martin Victor', 'Hennessey Venom F5 Roadster', 'Koenigsegg Jesko', 'Aspark Owl', 'Aston Martin Valkyrie', 'W Motors Lykan Hypersport', 'McLaren Solus', 'Pagani Huayra Evo R', 'Lamborghini Sian', 'Koenigsegg CC850', 'Bugatti Chiron Super Sport 300+', 'Gordon Murray Automotive T.50s Niki Lauda', 'Pagani Huayra Roadster BC', 'Lamborghini Veneno', 'Bugatti Bolide', 'Pininfarina B95 Speedster', 'Bugatti Mistral', 'Bugatti Divo', 'Pagani Huayra Imola', 'Pagani Codalunga', 'Mercedes-Maybach Exelero', 'Bugatti Centodieci', 'Bugatti Chiron Profilée', 'Rolls-Royce Sweptail', 'Bugatti La Voiture Noire', 'Rolls-Royce Boat Tail', 'Rolls-Royce La Rose Noire Droptail']
50

In [40]:
# Scraping the Top 50 Cars Prices:

Price_list = []

price_tag = driver7.find_elements(By.XPATH, '//div[@class="postBody description e-content"]/p/strong')
for i in price_tag[:50]:
    price = i.text
    Price_list.append(price)
    
print(Price_list)

['$1.7 Million', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.8 Million', 'Price: $1.9 Million', 'Price: $1.9 Million', 'Price: $2.0 Million', 'Price: $2.0 Million', 'Price: $2.1 Million', 'Price: $2.3 Million', 'Price: $2.3 Million', 'Price: $2.3 Million', 'Price: $2.3 Million', 'Price: $2.4 Million', 'Price: $2.5 Million', 'Price: $2.5 Million', 'Price: $2.6 Million', 'Price: $2.6 Million', '$2.7 Million', 'Price: $2.7 Million', 'Price: $2.8 Million', 'Price: $3.0 Million', '$3.0 Million', 'Price: $3.0 Million', '$3.1 Million', 'Price: $3.2 Million', 'Price: $3.4 Million', '$3.5 Million', '$3.5 Million (est.)', 'Price: $3.6 million', 'Price: $3.7 Million', 'Price: $3.9 Million', '$3.9 Million', '$4.0 Million', 'Price: $4.5 Million', 'Price: $4.7 Million', 'Price: $4.8 Million', 'Price: $5.0 Million', 'Price: $5.8 Million', '$6.0 Million', 'Price: $7.4 Million', 'Price: $8.0 Million', 'Price: $9.0 Million', 'Price: $10.8 Million', 'Price: $12.8 Million', 'Price: $13.4 Million', 'Price: $28.0 Million (est.)', 'Price: $30 Million (est.)']

In [41]:

df = pd.DataFrame({'Cars List':cars_list, 'Price List':Price_list})
df

                                    Cars List                   Price List
0                           McLaren Senna GTR                 $1.7 Million
1                                 Czinger 21C          Price: $1.7 Million
2                               Ferrari Monza          Price: $1.7 Million
3                          Gordon Murray T.33          Price: $1.7 Million
4                           Koenigsegg Gemera          Price: $1.7 Million
5                          Hennessey Venom F5          Price: $1.8 Million
6                             Bentley Bacalar          Price: $1.9 Million
7               Hispano Suiza Carmen Boulogne          Price: $1.9 Million
8                      Bentley Mulliner Batur          Price: $2.0 Million
9                                 SSC Tuatara          Price: $2.0 Million
10                                Lotus Evija          Price: $2.1 Million
11                        Aston Martin Vulcan          Price: $2.3 Million
12                                 Delage D12          Price: $2.3 Million
13                        Ferrari Daytona SP3          Price: $2.3 Million
14                          McLaren Speedtail          Price: $2.3 Million
15                               Rimac Nevera          Price: $2.4 Million
16                              Pagani Utopia          Price: $2.5 Million
17                       Pininfarina Battista          Price: $2.5 Million
18                         Gordon Murray T.50          Price: $2.6 Million
19                       Lamborghini Countach          Price: $2.6 Million
20              Hennessey Venom F5 Revolution                 $2.7 Million
21                   Mercedes-AMG Project One          Price: $2.7 Million
22                               Zenvo Aurora          Price: $2.8 Million
23                        Aston Martin Victor          Price: $3.0 Million
24                Hennessey Venom F5 Roadster                 $3.0 Million
25                           Koenigsegg Jesko          Price: $3.0 Million
26                                 Aspark Owl                 $3.1 Million
27                      Aston Martin Valkyrie          Price: $3.2 Million
28                  W Motors Lykan Hypersport          Price: $3.4 Million
29                              McLaren Solus                 $3.5 Million
30                        Pagani Huayra Evo R          $3.5 Million (est.)
31                           Lamborghini Sian          Price: $3.6 million
32                           Koenigsegg CC850          Price: $3.7 Million
33            Bugatti Chiron Super Sport 300+          Price: $3.9 Million
34  Gordon Murray Automotive T.50s Niki Lauda                 $3.9 Million
35                  Pagani Huayra Roadster BC                 $4.0 Million
36                         Lamborghini Veneno          Price: $4.5 Million
37                             Bugatti Bolide          Price: $4.7 Million
38                  Pininfarina B95 Speedster          Price: $4.8 Million
39                            Bugatti Mistral          Price: $5.0 Million
40                               Bugatti Divo          Price: $5.8 Million
41                        Pagani Huayra Imola                 $6.0 Million
42                           Pagani Codalunga          Price: $7.4 Million
43                   Mercedes-Maybach Exelero          Price: $8.0 Million
44                         Bugatti Centodieci          Price: $9.0 Million
45                    Bugatti Chiron Profilée         Price: $10.8 Million
46                       Rolls-Royce Sweptail         Price: $12.8 Million
47                   Bugatti La Voiture Noire         Price: $13.4 Million
48                      Rolls-Royce Boat Tail  Price: $28.0 Million (est.)
49         Rolls-Royce La Rose Noire Droptail    Price: $30 Million (est.)